/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}


@include media-query ($on-small){
    body{
    overflow: visible !important;
    }
}

@include media-query ($on-palm){
    body{
    overflow: visible !important;
    }
}

main {
   flex: 1 0 auto;
} 

body{
    background: url('/assets/bg.jpg') center center no-repeat;
}  

//html{
//    overflow: hidden;
//}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: none;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $milk;
    text-decoration: none;

    &:visited {
        color: lighten($milk, 15%);
        text-decoration: none;
    }

    &:hover {
        color: $milk;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Icons
 */
@include media-query($on-small){
    .brand-logo{
        font-size: 1em !important;
        padding-left: 1em !important;
    }
}


@include media-query($on-small){
    .fa-navicon{
        padding-left: 1em;
    }
}

@include media-query($on-small){
    .active {
    background-color: $teal;
    }
}

@include media-query($on-palm){
    .active {
    background-color: $teal;
    }
}

@include media-query($on-palm){
    .fa-navicon{
        padding-left: 1em;
    }
}

@include media-query($on-palm){
    .brand-logo{
        font-size: 1em !important;
        padding-left: 1em !important;
    }
}

@include media-query($on-palm){
    .sidebar{
        position: inherit !important;
        font-family: $base-font-family;
        background-color: $teal;
        border-radius: 1em;
        color: $milk;
        text-align: center;
        .title{
        padding-top: 1em;
    }
    
    li.links{
        text-decoration: none !important;
    }
    }
    .context{
        font-family: $base-font-family;
        background-color: $milk;
        color: $teal;
        border-radius: 1em;
        .title{
        text-decoration: solid $teal underline;
        }
    }
}

@include media-query($on-small){
    .sidebar{
        position: inherit !important;
        font-family: $base-font-family;
        background-color: $teal;
        border-radius: 1em;
        color: $milk;
        text-align: center;
        margin-top: 0.50em;
        .title{
        padding-top: 1em;
    }
    
    li.links{
        text-decoration: none !important;
        }
    }
    .context{
        font-family: $base-font-family;
        background-color: $milk;
        color: $teal;
        border-radius: 1em;
        .title{
            text-decoration: solid $teal underline;
       }
    }
}
