/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}
.navigator{
    opacity: 0.70;
}

nav .brand-logo {
    padding-left: 20px !important;
    color: $milk !important;
    text-decoration: none;
    }

a.page-link{
    text-decoration: none;
    color: $milk;
    }

/**
 * Site footer
 */

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    color: $milk;
}

.social-media-list{
    li, a{
    text-decoration: none;
    color: $milk;
    }
    li:hover, a:hover{
        text-decoration: none;
        color: $milk;
    }
}


/** footer logo styles **/
.footer{
    font-size: 1.5em;
    color: $milk;
    margin-top: none;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.waves-effect, .waves-light, .btn {
    text-decoration: none;
    color: $milk;
}
.btn:hover{
    color: $milk;
    text-decoration: none !important;
}

.active {
    border-bottom: $milk solid 1px;
}

/** fa styles **/
.mail {
    a{
    padding-left: 0.5em;
    color: $milk;
    }
    a:hover{
        text-decoration: none !important;
        color: $milk;
    }
}

.text {
    color: $milk;
}
.box{
    background-color: $milk;
    padding: 3em;
    .title{
        font-family: $base-font-family;
        font-size: 1.5em;
        text-decoration: $teal underline;
    }
}

ul.right{
    li > a{
        text-decoration: none;
        color: $milk;
    }
}

.feature1{
    font-family: $base-font-family;
       ul > li{
            line-height: 2em;
            font-weight: normal;

        }
        .fa{
            color: $teal;
            letter-spacing: 0.50em;
        }
}

.feature2{
    font-family: $base-font-family;
       ul > li{
            line-height: 2em;
            font-weight: normal;

        }
        .fa{
            color: $teal;
            letter-spacing: 0.50em;
        }

}
.feature3{
    font-family: $base-font-family;
       ul > li{
            line-height: 2em;
            font-weight: normal;

        }
        .fa{
            color: $teal;
            letter-spacing: 0.50em;
        }

}
.sidebar{
    position: fixed;
    right: 0;
    font-family: $base-font-family;
    background-color: $teal;
    border-radius: 1em;
    color: $milk;
    text-align: center;
    overflow: hidden;
    .title{
        padding-top: 1em;
    }
    
    li.links{
        text-decoration: none !important;
    }
}
.context{
    font-family: $base-font-family;
    background-color: $milk;
    color: $teal;
    border-radius: 1em;
    .title{
        text-decoration: solid $teal underline;
    }

}
.context-content{
    padding: 2em; 
        a{
        text-decoration: underline $teal 2px solid !important;
        color: $teal !important;
    }  
}

#home{
    margin-bottom: 25em;
    .title{
        margin-top: 5em;
        color: $milk;
        font-family: $base-font-family;
        font-weight: bold;
        text-transform: uppercase;
        }
        .tags{
            margin-top: 5em;
        }

}

#modal1{
    h4, p{
        color: $teal;
        font-family: $base-font-family;
        font-size: 3em;
    }
    a{
        color: $teal;
    }
    a:hover{
        border: $teal 0.50px solid;
    }
}

.touche{
    a{
    color: $milk !important;
    }
    .btn-flat{
        float: none;
    }
}