/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

nav .brand-logo {
    padding-left: 20px !important;
    color: #009688 !important;
    text-decoration: none;
    }

a.page-link{
    text-decoration: none;
    color: $teal;
    }

/**
 * Site footer
 */

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    color: $milk;
}

.social-media-list{
    li, a{
    text-decoration: none;
    color: $milk;
    }
    li:hover, a:hover{
        text-decoration: none;
        color: $milk;
    }
}


/** footer logo styles **/
.footer{
    font-size: 1.5em;
    color: $milk;
    margin-top: none;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.waves-effect, .waves-light, .btn {
    text-decoration: none;
    color: $milk;
}
.btn:hover{
    color: $milk;
    text-decoration: none !important;
}

.active {
    border-bottom: $teal solid 3px;
}

/** fa styles **/
.mail {
    a{
    padding-left: 0.5em;
    color: $milk;
    }
    a:hover{
        text-decoration: none !important;
        color: $milk;
    }
}

.text {
    color: $milk;
}